@charset "utf-8";
@media screen and (min-width:768px) and (max-width:1024px){
    .pcslide,.evimg,.ev_txt,.notice,.coupon,.ba p,#bar,.lub ,.yo p,.yo a,.flex-direction-nav .flex-prev,.flex-direction-nav .flex-next, .toggle_bar2,.sign,.v1_2,.v3_2,.v4,.v2_txt,.c1,.c2,.c3,.c4{
        display:none;
    }
    .da{
        position: relative;
    }
    .da img {
        width: 100%;
    }
    .da h2{
        position: absolute;
        top:25%;
        left: 10%;
        font-size: 36px;
    }
    .da p{
        position: absolute;
        top:50%;
        left: 10%;
        transform: translateY(-50%);
        font-size: 30px;
    }
    .da span {
        position: absolute;
        top:70%;
        left: 10%;
        font-size: 30px;
        padding: 10px 15px;
        border: 1px solid #000;
    }
header > .header_web{
    width:100%;
    height:100px;
    background-color:#ffffff;
    box-shadow: 0px 0px 4px rgb(0,0,0);
}
.header_web > .toggle_bar, .header_web > p{
    /* display:block; */
    float:right;
    /* width:44px; */
    padding:25px 20px 0px 0px;
}
.header_web > h1{
    float:left;
    padding:20px 0px 0px 10px;
    /* line-height: 100px; */
}
.header_web > h1 img {
    height: 60px;
}
#toggle:checked + header >.header_web >.gub_web{
    right: 0%;
}
.gub_web{
    position:fixed;
    top:0px;
    right: 100%;
    width:100%;
    height: 100%;
    background-color:rgba(0, 0, 0,0.8);
    z-index: 9999;
    transition:0.3s;
}
.gub_web > .gub{
    width:70%;
    height:100%;
    background-color:#DA1A32;
}
.gub >ul> li:first-child{
    display: block;
    padding-top:10px;
    background-color:#fff;
    text-align:center;
}
.gub >ul> li:first-child img{
    height: 50px;
}
.gub > ul > li{
    background-color:#F29661;
    line-height:40px;
    text-align:center;
    font-size: 20px;
}
.gub > ul>li:nth-child(3) > a{
    font-size: 20px;
    color:#fff;
    border-bottom:2px solid #fff;
    display: block;
}
.gub > ul > li > label{
    display: block;
    color:#fff;
    border-bottom:2px solid #fff;
}
#gu1:checked + .snb{
    display:block;
}
#gu2:checked + .snb{
    display:block;
}
#gu3:checked + .snb{
    display:block;
}
#gu4:checked + .snb{
    display:block;
}
.snb{
    display:none;
}
.snb > li> a{
    display:block;
    background-color:#FAE0D4;
    border-bottom:1px solid #fff;
}
i.fa-bars,i.fa-user-alt,i.fa-shopping-basket{
    font-size:50px;
}

i.fa-window-close{
    position:absolute;
    top:25px;
    right:17px;
    font-size:50px;
    color:#fff;
}
.ev1 img{
    width: 100%;
}
.ba{
    overflow: hidden;
    height: 400px;
}
.ba img{
    width: 100%;
}
.vd{
    display: grid;
    grid-template-columns: repeat(3,auto);
    padding: 50px 0px;
    background-color:#BB3445 ;
}
.vd >div{
    width:70%;
    margin: 0px auto;
    border-radius: 20px;
    text-align: center;
    padding: 20px 0px;
    background-color: #fff;
    font-size: 30px;
}
i.fa-address-book{
    font-size: 80px;
    color:#DA1A32;
}
.v2 p{
    padding-top: 10px;
}
.tab_menu{
    position:relative;
    top:50px;
    width:100%;
    height:600px;
    background:linear-gradient(to bottom,#403E3E 50%,#DB5465 50%);
}
.tab_menu .list .btn{
    font-size:20px;
    background-color: #FFFFFF;
    position: absolute;
    top:-40px;
    left:10px;
    /* width:80px; */
    height:40px;
    line-height: 30px;
    padding:10px 15px;
    border-radius:20px 20px 0px 0px;
    box-sizing: border-box;
    text-align:center;
    color:#DB5465;
}
.tab_menu  .list  li:nth-child(2) .btn{
    left:90px;
}
.tab_menu  .list  li:nth-child(3) .btn{
    left:169px;
}
.tab_menu  .list  li:nth-child(4) .btn{
    left:320px;
}
.co1{
    color:#DA1A32;
}
.tab_menu .list .cont{
    /* position: absolute;
    top:25px;
    left:0px; */
    width:100%;
    height:200px;
    display:none;/*콘텐츠 모두 숨기기*/
}
.tab_menu .list{
    /* overflow:hidden; */
    /* display:flex; */
    /* justify-content: space-around; */
    height: 600px;
}
.tab_menu .list li.on .btn{
    font-weight: bold; color: #ffffff;
    background-color: #DA1A32;
}
.tab_menu .list li.on .cont{display:block;}
.c_lub{
    background-color: #000;
    height: 650px;
}
.tab_menu > h2{
    position:absolute;
    top:15px;
    left: 50%;
    width: 350px;
    transform: translateX(-50%);
    text-align:center;
    font-size:32px;
    line-height:50px;
    color:#fff;
}

.a1{
    position: absolute;
    bottom: 20px;
    left: 50%;
    width:200px;
    height: 45px;
    line-height: 45px;
    transform: translateX(-50%);
    border:1px solid #fff;
    color:#ffffff;
    font-size:28px;
    text-align:center;
}
.tab_menu .list ul li .best{
    color:#000;
}
.menuSwiper {
    top:100px;
    width: 100%;
    height: 400px;
    /* background-color: #fff; */
  }

  .menuSwiper .swiper-slide {
    text-align: center;
    font-size: 18px;
    /* background: #ff0; */

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .menuSwiper .swiper-slide img {
    display: block;
    width: 100%;
    /* height: 100%; */
    object-fit: cover;
  }
  .menuSwiper p{
    font-size: 20px;
    line-height: 30px;
  }
  .menuSwiper a>span{
    position: absolute;
    left:20px;
    top:30px;
    color: #DA1A32;
    display:block;
    border-radius: 50%;
    background-color: #fff;
    width: 60px;
    height:60px;
    font-size: 24px;
    text-align: center;
    line-height: 60px;
    z-index: -1;
  }
  .best{
    color:#1A1818 !important;
  }
  #tab3 .menuSwiper span{
    top:80px !important;
  }
  #tab4 .menuSwiper span{
    top:70px !important;
  }
.fo{
    height: 333px;
    position: relative;
}
.fo nav{
    border-bottom:1px solid #ccc ;
}
.fo .fo_nav{
    display:flex;
    font-size: 16px;
    justify-content: center;
}
.fo_nav li{
    line-height: 50px;
}
.fo_nav li::after{
    content: "|";
    color:#ccc;
    padding: 0px 10px;
}
.fo_nav li:last-child::after{
    display: none;
}
.fo_nav li a{
    color:#ccc;
}
address{
    padding-top: 20px;
    line-height: 20px;
}
address p:last-of-type{
    margin: 20px 0px;
}
.kbpi{
    width: 327px;
    height: 46px;
    margin:0px auto 10px auto;
}
.kbpi img{
    float: left;
}
.kbpi p{
    text-align: left;
    padding-left:65px ;
    line-height: 23px;
}
.b_lo{
    float: left;
    margin:0px 0px 10px 20px;
}
i.fa-facebook-f,i.fa-instagram{
    color:#fff;
    font-size: 33px;
    position: absolute;
    bottom: 10px;
    right: 20px;
}
i.fa-facebook-f{
    right:70px;
}
.evSwiper .swiper-pagination .swiper-pagination-bullet{
    background-color: #000;
    width: 15px;
    height: 15px;
  }
}